@model IEnumerable<TestProyect.Models.Categorias>

@{
    ViewData["Title"] = "Estatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="fondoAdministracion">
    <hr>
    <div class="card border">
        <div class="card-header">
            <a class="link-bar" asp-controller="Administrativo" asp-action="Index">Administrativo/</a>
            <a class="link-bar" asp-controller="Catalogos" asp-action="Index">Catalogos/</a>
        </div>
    </div>
    <hr />
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Guardado!</strong> @TempData["mensaje"]
        </div>
    }

    @if (TempData["actualizacion"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Actualizado!</strong> @TempData["actualizacion"]
        </div>
    }
    @if (TempData["eliminado"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Eliminado!</strong> @TempData["eliminado"]
        </div>
    }

    <div class="row">
        <div class="col-12">
            <div class="card border">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="float-left">
                            <h3><strong>Lista de Categorías</strong></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="float-right">
                            <a asp-controller="Catalogos" asp-action="CategoriaCreate" class="btn btn-info"><i class="fas fa-plus"> Nueva Categoría</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tablas" width="100%" cellpadding="0">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    @Html.DisplayNameFor(m => m.NombreCategoria)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(m => m.Estatus)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.NombreCategoria)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Estatus.NombreEstatus)
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-primary" asp-action="CategoriaEdit" asp-route-id="@item.IdCategoria">Editar</a> |
                                        <a class="btn btn-info" asp-action="CategoriaDetails" asp-route-id="@item.IdCategoria">Detalles</a> |
                                        <a class="btn btn-danger" asp-action="CategoriaDelete" asp-route-id="@item.IdCategoria">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
<script>
    $(document).ready(function () {
        $('#tablas').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay Información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 de 0 Entradas",
                "infoFiltered": "(Filtrando de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingMenu": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin Resultados Encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
}