@model IEnumerable<TestProyect.Models.Estatus>


<body class="fondoAdministracion">
    <hr>
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Éxito!</strong> @TempData["mensaje"]
        </div>
    }
    <div class="row">
        <div class="col-12">
            <div class="float-lg-right">
                <a asp-controller="Administrativo" asp-action="CrearEstatus" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo Usuario</a>

            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <div class="card border">
                <div class="card-header">
                    <h4><strong>Catálogo de Estatus</strong></h4>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tablaUsuarios" width="100%" cellpadding="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.IdEstatus)</th>
                                <th>@Html.DisplayNameFor(m => m.NombreEstatus)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.IdEstatus</td>
                                    <td>@item.NombreEstatus</td>

                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdEstatus">Editar</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEstatus">Dar de Baja</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <iframe id="inlineFrameExample"
            title="Inline Frame Example"
            width="300"
            height="200"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
    </iframe>
</body>


    @section Scripts{
        <script>
            //Llamar DataTable
            $(document).ready(function () {
                $('#tablaUsuarios').DataTable({
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });
            });
        </script>
    }
