@model IEnumerable<TestProyect.Models.Utileros>
@{
    ViewData["Title"] = "Administrativos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="fondoAdministracion">
    <hr>
    <div class="card border">
        <div class="card-header">
            <a class="link-bar" asp-action="">Administrativo/</a>
        </div>
    </div>
    <hr />

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Guardado!</strong> @TempData["mensaje"]
        </div>
    }

    @if (TempData["actualizacion"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Actualizado!</strong> @TempData["actualizacion"]
        </div>
    }
    @if (TempData["eliminado"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Eliminado!</strong> @TempData["eliminado"]
        </div>
    }

    <div class="row">
        <div class="col-12">
            <div class="card border">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="float-left">
                            <h3><strong>Lista de Utileros</strong></h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="float-right">
                            <a asp-controller="Administrativo" asp-action="UtilerosCreate" class="btn btn-info"><i class="fas fa-plus"> Nuevo Utilero</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body card-special">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tablas" width="100%" cellpadding="0">
                        <thead>
                            <tr class="text-center">
                                <th>@Html.DisplayNameFor(m => m.NombreUtilero)</th>
                                <th>@Html.DisplayNameFor(m => m.PaternoUtilero)</th>
                                <th>@Html.DisplayNameFor(m => m.MaternoUtilero)</th>
                                <th>@Html.DisplayNameFor(m => m.CelularUtilero)</th>
                                <th>@Html.DisplayNameFor(m => m.EmailUtilero)</th>
                                <th>@Html.DisplayNameFor(m => m.Estatus)</th>
                                <th>@Html.DisplayNameFor(m => m.Adscripcion)</th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.NombreUtilero)</td>
                                    <td>@Html.DisplayFor(m => item.PaternoUtilero)</td>
                                    <td>@Html.DisplayFor(m => item.MaternoUtilero)</td>
                                    <td>@Html.DisplayFor(m => item.CelularUtilero)</td>
                                    <td>@Html.DisplayFor(m => item.EmailUtilero)</td>
                                    <td>@Html.DisplayFor(m => item.Estatus.NombreEstatus)</td>
                                    <td>@Html.DisplayFor(m => item.Adscripcion.NombreAdscripcion)</td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm" asp-action="UtilerosEdit" asp-route-id="@item.IdUtilero"><i class="fas fa-user-circle"></i></a> |
                                        <a class="btn btn-success btn-sm" asp-action="UtilerosDetails" asp-route-id="@item.IdUtilero"><i class="fas fa-info-circle"></i></a> |
                                        <a class="btn btn-danger btn-sm" asp-action="UtilerosDelete" asp-route-id="@item.IdUtilero"><i class="fas fa-user-minus"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                    <div class="form-group">
                        <div class="float-right">
                            <a asp-controller="Administrativo" asp-action="ExportToPDFUtilero" target="_blank" class="btn btn-danger m-2"><i class="fas fa-file-excel"> PDF</i></a>
                        </div>
                        <div class="float-right">
                            <a asp-controller="Administrativo" asp-action="ExportToExcelUtilero" class="btn btn-success m-2"><i class="fas fa-file-excel"> Excel</i></a>
                        </div>
                        <div class="float-left">
                            <a asp-controller="Administrativo" asp-action="UtileroUpload" class="btn btn-primary m-2"><i class="fas fa-upload"> Carga Masiva</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tablas').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay Información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 de 0 Entradas",
                    "infoFiltered": "(Filtrando de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingMenu": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin Resultados Encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}

